/* body{
  background-image: url("https://images.pexels.com/photos/459449/pexels-photo-459449.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-attachment: fixed; */
}
*p{
  color: white;
}
.topnav{
  text-align: right;
  color: black;
}
#head{
  height: 50%;
}
#intro{
  display: flex;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
h4{
  text-align: center;
}
nav{
  padding-bottom:20px;
  margin: 0 auto;
  background-color:rgba(0,255,255,0.5);
  height: 50px;
}
nav ul li{
  display: inline;
  float: right;
  padding: 20px;
}
nav ul li a{
  text-decoration: none;
  text-transform: uppercase;
}
.place{
  text-align: center;
}
#destinations{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin-right: 150px;
}

#mara {
  border: none;
  border-radius: 25px;
  width:400px;
}
#gate{
  width:400px;
  padding-left: 30px;
}
#impala {
  width:400px;
  padding-left: 30px;
}
#more{
  margin: 10%;
  display: flex;
  padding: 30px;
}
hr{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
input[type=text], select ,textarea{
  width: 100%;
  padding: 15px;
  border: 1px solid #008080;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 14px;
  resize: vertical;
}
input[type=submit]{
  background-color: #E0FFFF;
  color: black;
  padding: 15px 22px;
  border: none;
  border-radius: none;
  cursor:pointer;
}
input[type=submit]:hover{
  background-color:#008080;
}
#section1{
  border-radius: 5px;
  background-color:#008B8B;
  padding: 20px;
  width: 75%;
}
#reviews{
  text-align: center;
}
#rev{
  display: flex;
  justify-content:
}
.mara{
  width:50%;
  height: 50%
  padding-left: 30px;
}
.mara img{
}
.nakuru{
  width: 50%;
  height: 50%;
  padding-left: 30px;
}
.beach{
  width: 50%;
  height: 50%;
  padding-left: 30;
}

#support,#work,#partners,#contact{
  margin: 20px;
}
footer{
  background-color: #008B8B;
  color:#F0FFF0 ;
  text-decoration: none;
}
h4{
  margin-left: -50px;
}
footer ul li{
  display:flex;
  color: #008B8B;
  text-decoration: none;
  list-style: inherit;
}
a{
  text-decoration: none;
}
#contact{
  text-align: center;
  margin-left: 30%;
  border: 5px solid white;
  border-radius: 10px;
  border-color: white;
}
#copyright{
  text-align: center;
}
#more{
  display: #flex;
}
